html {
    box-sizing: border-box;
}

#flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#month {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0
}

#calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 90vw;
}

.week {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.day {
    flex-basis: 500px;
}

.day-card {
    min-height: 20vh;
}

.form-modal input {
    margin-bottom: 5%;
}

.add-event {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
}

#days-events li {
    margin-top: 5%;
}

#more-modal {
    margin: 10% auto;
    width: 100%;
}