html {
    box-sizing: border-box;
}

#flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}

#calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 80vw;
}

.week {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.day {
    flex-basis: 300px;
}

.day-card{
    min-height: 20vh;
}

.day-card button{
    position: absolute;
    bottom: 0px;
}

.form-modal input{
    margin-bottom: 5%;
}

.add-event{
    display: block;
    width: 100%;
    text-align: center;
}